

.target-coursor {
  cursor: url(../images/icons/sci-fi-generic/arrow-scope.svg), crosshair;
}


@font-face {
    font-family: 'Aurebesh';
    src: url('../fonts/Aurebesh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.aurebesh-font{
    font-family:'Aurebesh';
}


.navbar-button {
    height: 32px;
    margin-right: 3px;
    margin-left: 3px;
}


.control-button {
    height: 50px;
    width: 50px;
    margin: 4px;
}


.nav-section {
    height: 50px;
    width: 400px;
}

#hyperspace-navigation-pane {
    height: 520px;
    width: 400px;
    overflow: hidden;
}

.pane-row {
    height: 40px;
    padding: 4px;
}

.pane-row-control {
    height: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.pane-row-table {
    padding-top: 4px;
    padding-bottom: 4px;
    overflow-y: scroll;
    height: 100%;
}

.pane-row-list {
    padding-top: 4px;
    padding-bottom: 4px;
   /* min-height: 400px;
    overflow-y: auto;*/
    /*overflow: hidden;*/
}

.pane-row-text {
    height: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.pane-column {
    display: inline-block;
}

.pane-section {
    border-bottom: 1px solid #49fb35;
    padding: 3px;
}

.pane-section-padding {
    padding: 3px;
}

.nav-text {
    font-size: 1.1em;
    /*margin-left: 4px;*/
    color:  #49fb35;
    /*height: 32px;*/
}

.display-text {
    font-size: 1.0em;
    /*margin-left: 4px;*/
    color:  #49fb35;
    height: 28px;  
}



.pulse {
    animation: pulsate 1s ease-out;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
}


@keyframes pulsate {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {opacity: 0.0;}
}


.pulse-counter {
    animation: pulsate-counter 1s ease-out;
    -webkit-animation: pulsate-counter 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
}


@keyframes pulsate-counter {
    0% {opacity: 1.0;}
    50% {opacity: 0.0;}
    100% {opacity: 1.0;}
}


.search-input {
    width: 150px;
    height: 32px;
    line-height: 26px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 5px;
    padding-left: 5px;
    /*border: solid 1px #dcdcdc;*/
    /*transition: box-shadow 0.3s, border 0.3s;*/
}

.hyperspace-node-input {
    width: 200px;
}

.number-input {
    padding-left: 8px;
    width: 56px;
}



/*.search-input.focus,
.search-input:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}*/


.gridClass {
    /*color: #49fb35; */
    color: #FF69B4;
}

.gridCell {
    color: #FF69B4;

}

.gridGreen {
    color: green;
}

.gridClassHover {
    color: #ffa500;
    /*color: red;*/
}


.control-row {
    position: static;
    display: block;
    padding: 5px;
   /* border-bottom: 1px solid #49fb35;
    border-right: 1px solid #49fb35;
    border-top: 1px solid #49fb35;*/
    border: 1px solid #49fb35;

    background-color: black;
    margin-bottom: 10px;
}


#control-container {
    position: fixed;
    top: 50px;
    left: 70px;
    height: auto;
    z-index: 10;
}

#planet-data-container {
    display:none;
    background-color: orange;
    opacity: 0.0;
    height: auto;
    padding: 10px;
    position: fixed;
    margin-left: 6px;
    margin-top: 6px;
    border: 2px solid teal;
    border-radius: 10px;
    width: 70%;
}



#close-coordinate-display {
    position: relative;
    float: right;
    border-radius: 25px;
}

#planet-data {
    display: none;
    top: 90px;
    left: 50px;
    background-color: black;
    opacity: 1.0;
    height: 520px;
    /*padding: 5px;*/
    position: fixed;
    margin-left: 6px;
    margin-top: 20px;
    margin-bottom: 6px;
    border: 2px solid white;
    /*border-radius: 10px;*/
    width: 300px;
    overflow-y: scroll;
}

#star-display {
    display: none;
    top: 90px;
    left: 380px;
    background-color: black;
    opacity: 1.0;
    height: 520px;
    width: 620px;
    /*padding: 5px;*/
    position: fixed;
    margin-left: 6px;
    margin-top: 20px;
    margin-bottom: 6px;
    border: 2px solid white;
    /*border-radius: 10px;*/
    /*overflow-y: scroll;*/
}
